body{
    background-image:url(background.jpg);
    background-size:1600px 1100px;
}
.container{
    width: 700px;
    margin: auto;
    color: white;
}
.quadrato{
    background-color: black;
    opacity: 0.75;
    width: 750px;
    height: 750px;
    margin: auto;
    border-radius: 5%;
}
.logo{
    width: 250px;
}
.text{
    font-size: 30px;
    color: rgb(144, 210, 46);
    text-align: center;
    
}
.logo-text{
    text-align: center;
    margin-top: 5px;
    
}
.options{
    text-align: center;
    background-color: greenyellow;
    padding: 10px;
}
.monopattino-dino{
    margin-top:15px;
    padding: auto;
}
.info-gino{
    margin-top: 10px;
    color: white;
    
}
.gino22{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.distanze1{
   font-size: 18px;
    font-weight: 500;
}
.stato-gino{
   font-size: 18px;
    font-weight: 500;
    color: white;
    
}
.rettangolo{
    width: 250px;
    height: 20px;
    background-color:orange;
    border-radius: 5%;
}
.rettangolo-mike{
    width: 400px;
    height: 20px;
    background-color:yellowgreen;
    border-radius: 5%;
}
.rettangolo-fede{
    width: 150px;
    height: 20px;
    background-color:red;
    border-radius: 5%;

}